<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%=blog.title%></div>
    <div class="ui top attached">
        <div class="item">
                <img class="ui centered rounded image" src="<%=blog.image%>">
                <div class="content">
                    <span><%=blog.created.toDateString()%></span>
                </div>
                <div class="description">
                    <p><%-blog.body%></p>
                </div>
                <div>
                    <a class="ui animated button basic orange" tabindex="0" href="/blogs/<%=blog._id%>/edit">
                                <div class="visible content">Edit</div>
                                <div class="hidden content"><i class="edit icon"></i></div>
                    </a>
                    <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                        <!--<button class="ui red basic button">Delete</button>-->
                        <div class="ui animated red basic button" tabindex="0">
                            <div class="visible content">Delete</div>
                            <div class="hidden content">
                                <i class="trash icon"></i>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
<% include partials/footer %>